[2018-01-13 12:00] probonopd opened #1 "Unable to update ... because of unknow network interruption"
Trying

[code]

Getting

![fail](https://user-images.githubusercontent.com/2480569/34905840-7267efd4-f861-11e7-8541-2f4469991da6.png)

Additional information:

[code]

[2018-01-13 12:06] probonopd opened #3 "Increase verbosity on the command line"
It would be nice if AppImageUpdater would print some verbose statements on the command line while it is working, e.g., when invoked with `-v` or `-verbose`, so that one could understand what it is trying to do (e.g., from which URLs it is trying to download).

[2018-01-13 12:07] antony-jr commented on #1
I never tested **Direct Zsync  URL** before , could you point some examples that I can use ?

[2018-01-13 12:10] antony-jr commented on #3
its true by default , **Try** running it from terminal. Does that verbosity lack something? Please let me know.

[2018-01-13 12:11] antony-jr commented on #3
``` -h ``` to get help on available commands!

[2018-01-13 12:11] probonopd opened #4 ""Browse for AppImage" crashes"
On `ubuntu-mate-17.10-desktop-amd64.iso`, clicking on "Browse for AppImage" crashes.

![browse](https://user-images.githubusercontent.com/2480569/34905933-42262ed8-f863-11e7-9140-081f2436a062.png)

[2018-01-13 12:12] probonopd commented on #1
It is documented here:
https://github.com/AppImage/AppImageSpec/blob/master/draft.md#zsync-1

[2018-01-13 12:13] probonopd commented on #1
In case you encounter a type of update information unknown to the updater (the string before the first "|"), the updater should tell that it encountered an "unknown type of update information", and offer to update itself (the updater).

[2018-01-13 12:13] antony-jr commented on #4
I suppose I will get it tested on the major platforms , could you post the output when you run it from the terminal , Thanks for the review.

[2018-01-13 12:15] antony-jr commented on #1
@probonopd the **Bridge** handles it well , but I don't have any examples to test it out , could you provide some **AppImages** which uses Direct Zsync URL.

[2018-01-13 12:17] probonopd commented on #4
[code]

This error occurs only if `usr/plugins/platformthemes/libqgtk3.so` is bundled. If I delete `usr/plugins/platformthemes/libqgtk3.so` then I do not the crash but I get a file open dialog instead.

[2018-01-13 12:18] antony-jr commented on #4
yes , you must open a AppImage with the dialog.

[2018-01-13 12:19] probonopd commented on #3
`me@host:~$ squashfs-root/AppRun ./appimagetool-x86_64.AppImage` is not outputting anything. E.g., it could output the `zsync|https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage.zsync` update information string it has found in the AppImage, or the parsed first field, then could say it does not know how to handle the "zsync" transport mechanism, etc.

[2018-01-13 12:20] probonopd commented on #4
I cannot because the segfault occurs before the dialog appears.

[2018-01-13 12:21] probonopd commented on #1
Attaching one here (zipped because GitHub Issues doesn't allow for other file type attachments).

[appimagetool-x86_64.AppImage.zip](https://github.com/antony-jr/AppImageUpdater/files/1628312/appimagetool-x86_64.AppImage.zip)

[2018-01-13 12:22] antony-jr commented on #4
It works just great on **Arch Linux** ( My default OS). You could also update through commandline , ``` AppImageUpdater appimaged.AppImage```

[2018-01-13 12:24] antony-jr commented on #3
got it 👍

[2018-01-13 12:25] antony-jr commented on #1
Thanks! ❤️

[2018-01-13 12:28] antony-jr commented on #1
@probonopd The error most likely will be with **OpenSSL** beign a wrong version from the  Qt Built Version.

[2018-01-13 12:29] probonopd opened #5 "Updated file must also get the new name"
[code]

__Intended result__:

In addition to the original (old) file `Downloads/Audacity-095ee91-x86_64.AppImage`, there should be the updated (new) file `Downloads/<FILENAME_OF_THE_NEW_FILE>`.

__Actual result__:

![result](https://user-images.githubusercontent.com/2480569/34906045-165c4e02-f865-11e7-80c0-fad5e5cc2d9c.png)

[code]

Updated file must also get the new name, otherwise the file name

[2018-01-13 12:30] antony-jr commented on #5
hmm... no problem , but I think this will be a change in the **Bridge**.

[2018-01-13 12:32] probonopd opened #6 "Give clear message if GitHub Release does not have an AppImage"
The updater should give a clear message if GitHub Release does not have an AppImage

Test file:
[OldImageMagick-git.7a48608-x86_64.AppImage.zip](https://github.com/AppImage/AppImageUpdate/files/1451080/OldImageMagick-git.7a48608-x86_64.AppImage.zip)

For comparison, [AppImageUpdate](https://github.com/AppImage/AppImageUpdate) says:

[code]

[2018-01-13 12:34] probonopd commented on #4
Yes I know. We could even leave away this button if we cannot make it work everywhere.

[2018-01-13 12:37] antony-jr commented on #6
got it! 👍

[2018-01-13 12:41] antony-jr commented on #4
that will not be cool , I will fix it somehow!

[2018-01-13 14:15] #5 closed, assigned to nobody

[2018-01-13 14:20] probonopd commented on #5
Wow, I am impressed, this looks like a straightforward change. Will there be a new AppimageUpdater to test?

[2018-01-13 14:22] antony-jr commented on #5
Made very silly mistake  so the continous integration is broken , Please wait.

[2018-01-13 14:26] antony-jr commented on #5
@probonopd continous build of **linuxdeployqt** is broken (can't get the latest AppImages ? ) , thats why my continous build is also broken!

[2018-01-13 14:28] antony-jr commented on #5
@probonopd I cannot find any **assets** on github , do I need to compile it my self ?

[2018-01-13 14:51] probonopd commented on #5
Sorry, it's a bug, I am looking into it. Should be available again soon.
https://github.com/AppImage/AppImageKit/issues/612#issuecomment-357441159

[2018-01-13 22:55] antony-jr commented on #5
@probonopd Build Succeded , Check the new release.
**NOTE:** The updater will automatically update itself but only the new version will have the update on renaming the files correctly. So test it out with other appimages.

[2018-01-13 22:59] probonopd opened #7 "AppImageUpdater cannot update itself"
![screenshot_20180113_225826](https://user-images.githubusercontent.com/2480569/34910844-57d7db8a-f8b5-11e7-89d1-6455b00867c3.png)

[2018-01-13 23:01] probonopd commented on #7
On the command line:

[code]

System is Netrunner 17.03, `netrunner-desktop-1703-64bit.iso`.

[2018-01-13 23:01] antony-jr commented on #7
could you post the terminal output ?

[2018-01-13 23:02] antony-jr commented on #7
@probonopd As I thought , I must pack the OpenSSL shared libs with the **AppImage** to solve this.

[2018-01-13 23:04] probonopd commented on #7
We have a long discussion on this (resolution not known yet) at
https://github.com/probonopd/linuxdeployqt/issues/209

[2018-01-13 23:06] antony-jr commented on #7
I solved it in the past by placing the openssl shared libs which was used to build the Qt5 Framework , another option to solve this is to compile Qt from source with openssl static compiled.

[2018-01-13 23:32] antony-jr commented on #7
Only seems to work good with my OS.
![Imgur](https://i.imgur.com/GkE3Z8L.png)

[2018-01-14 02:12] antony-jr commented on #1
Must be patched now , Please refer https://github.com/antony-jr/AppImageUpdater/commit/082ea8d52b06f0b0655bb993a6a19f0c648d7fb3 for more information , If the problem still exists , reopen this issue! Thank You! 👍

[2018-01-14 02:43] antony-jr commented on #7
This is completely fixed now , download the latest build. **Ref:** https://github.com/antony-jr/AppImageUpdater/commit/5f308a4f7e92d1eaaecbd954a8dfc11073091d1b

[2018-01-14 02:43] #7 closed, assigned to nobody

[2018-01-14 03:09] antony-jr commented on #1
Everything seems to work but github does not allow **HEAD** ( or prehaps **Amazon S3** does not , because the request type and **HMAC** is checked { Which the HMAC always points to a **GET** request! ) and so **HEAD** fails.

# Solution
* Completely strip **HEAD** requests and use **RAW GET** with limiting mechanism ( not recommended but considering a handfull of webservers , I think we should onl

[2018-01-14 10:39] #1 closed, assigned to nobody

[2018-01-14 23:01] antony-jr commented on #3
This is also fixed in the latest release , if not please reopen! ❤️
**Ref**: https://github.com/antony-jr/AppImageUpdater/commit/8056e82c6f2107dc03049963e105f9c3c3029449

[2018-01-14 23:01] #3 closed, assigned to nobody

[2018-01-15 05:01] #4 closed, assigned to nobody

[2018-01-15 05:08] antony-jr commented on #6
this is not enough ?
[code]

[2018-01-15 05:25] antony-jr commented on #6
@probonopd why does the **title** bar **icon** is not showing up ? The icon only shows up if I run it outside of the AppImage.

[2018-01-15 05:55] antony-jr commented on #4
This is now replaced with **Drag 'n' Drop** style.

[2018-01-15 09:31] antony-jr commented on #6
Try the new version , **The Updater** should update itself by now ?

[2018-01-15 17:34] probonopd commented on #6
[code]

This looks good but I can't remember to have seen this when I tested originally.

[2018-01-15 17:36] probonopd commented on #6
Good question, as per https://discourse.appimage.org/t/appimage-does-not-show-icon-in-task-bar/40/1 I would think that

https://github.com/antony-jr/AppImageUpdater/blob/7690ab45ae06a2ac7585ec8e9ab6fe6315f5220a/AppImageUpdater.hpp#L84

should do it.

Reference:
https://github.com/JvanKatwijk/qt-dab/issues/69

[2018-01-15 17:38] probonopd commented on #6
Indeed, seems to work :+1:

[2018-01-15 17:39] probonopd commented on #6
As to the original topic of this issue, the text in the window still says "unknown network interruption" when in fact GitHub does not have an AppImage available.

[2018-01-15 17:41] probonopd opened #9 ""Updater" button does nothing"
"Updater" button in the bottom left seemingly does nothing when clicked. It is unclear what it is supposed to do as well, so maybe it can be removed. Let's simplify as much as possible.

[2018-01-15 17:46] probonopd opened #10 "Minimalistic design"
Of course design is a subjective subject, so it's entirely up to you - but I think it would greatly help the adoption of the updater if it would look as minimalistic, "generic" as possible, trying to blend in with the native theme of Qt/the system rather than using bold/dark colors, large/custom fonts and such.

For example, the [Sparkle framework](https://sparkle-project.org/) is carefully design

[2018-01-15 17:53] probonopd commented on #4
Design idea, rounded rectangle with a grey dotted line and an arrow inside it. This is used in many macOS apps to symbolize "drag and drop". How do you like it?

![media-convertor-mac](https://user-images.githubusercontent.com/2480569/34955534-c688b7da-fa1c-11e7-8f65-95b440a1dbf0.jpg)

[2018-01-15 18:36] antony-jr commented on #9
it only get active when you are not in the main page

[2018-01-15 18:37] probonopd commented on #9
Then maybe don't show it in the main page.

[2018-01-15 18:51] antony-jr commented on #9
got it 👍

[2018-01-15 18:54] antony-jr commented on #6
okay then we might need more error codes to be generated from AppImageUpdaterBridge , check the available error codes here , https://antony-jr.github.io/AppImageUpdaterBridge/docs/AppImageUpdaterBridgeErrorCodes.html

[2018-01-15 19:01] antony-jr commented on #10
I really care about the UI more.

[2018-01-15 19:47] antony-jr commented on #10
but @probonopd this is just an example , do we really need to redesign this , lets just use this to test out the new libappimageupdate for Qt , Aka **AppImageUpdaterBridge**. To Fix bugs and other stuff , I am building a plugin too, I created this to find flaws in **AppImageUpdaterBridge** and it really does **had** a lot ( fixed now , mostly ).
My main design would be the plugin or the end result

[2018-06-10 11:21] probonopd opened #11 "Cannot update from GitLab CI"
[code]

`AIUpdaterBridge:: redirected url :` is wrong.

[2018-06-10 11:21] probonopd commented on #11
Similar issue: https://github.com/AppImage/AppImageUpdate/issues/94

[2018-06-10 13:04] antony-jr commented on #11
Currently the design for the Qt API and This example gui is worst since I stopped working on this long ago , but I will resume the work soon... But make no mistakes I will not use zsync2 , I'm using legacy zsync and it works well. I will soon publish a beta level code for the Qt API and also redesign this gui.

[2018-07-02 06:37] probonopd commented on #11
Ping @antony-jr this is very important for us. Would be great if you could look into it. Thanks!

[2018-07-02 14:27] antony-jr commented on #11
@probonopd I'm currently solving the problem at its root(the library).

[2018-08-09 17:20] antony-jr commented on #11
**CC:** @probonopd

**AppImageUpdaterBridge** can now use **Gitlab** as a generic zsync transport method , But the new code is still in the experimental stage but working good so far , Things that are staged in experimental will be available in a week or so after rigorous testing and refactoring. I'm also planning to make this a plugin.

These are the new features which will be available after the

[2018-08-09 18:26] antony-jr commented on #11
Just found out that **Gitlab** cannot support range requests , Thus even if we can check for updates, Its not possible to do the update , https://gitlab.com/gitlab-com/support-forum/issues/3655 (Hope they fix this soon).

[2018-08-12 18:40] probonopd commented on #11
Thanks @antony-jr. In this case, we could check whether a sever supports range requests and if it does not, download the whole thing.

[2018-08-23 18:38] #11 closed, assigned to nobody

[2018-08-23 18:54] antony-jr commented on #11
@probonopd The library is fully rewritten in C++ and working great , To test out the new library , You can use an example program.

[code]

I will soon fix this program , Since the hardest work is done , All I have to do is connect some slots and change the UI.

[2018-08-29 16:51] #9 closed, assigned to nobody

[2018-08-29 16:51] #10 closed, assigned to nobody

[2018-08-30 14:37] antony-jr commented on #6
@probonopd This issue is irrelevant now since all errors are emitted explicitly now , I just need some time to convert these error codes to human readable Message box which is a pain in the neck but I will finish it soon , The logging is good now , Try the new version!

[2018-08-30 14:37] #6 closed, assigned to nobody

[2018-09-02 18:19] probonopd opened #13 "GUI for updating all AppImages inside a directory"
GUI should be changed for updating all AppImages inside a directory - currently this is what happens:

![screenshot](https://user-images.githubusercontent.com/2480569/44959381-c0791900-aedc-11e8-80c2-158a1bc79f13.png)

[2018-09-02 18:20] probonopd opened #14 "Automatically elevate to root if necessary"
Same as https://github.com/AppImage/AppImageUpdate/issues/1

![permissions](https://user-images.githubusercontent.com/2480569/44959389-e0a8d800-aedc-11e8-8dca-f3fe5ba64dcf.png)

Please see how e.g., the Etcher AppImage solves this.

[2018-09-02 19:53] antony-jr commented on #14
I know how to solve this but didn't give the priority for that , I hope the log should give information on permission errors too. I will fix this soon.

[2018-09-02 19:55] antony-jr commented on #13
Oh! That looks awful , I will fix that soon as possible!

[2018-09-02 19:57] antony-jr commented on #13
I am also planning for a no confirm checkbox to just update AppImages without the confirmation dialog which is quite awful when it comes to large scale updating. Also include a background update model.

[2018-09-03 13:32] #13 closed, assigned to nobody

[2018-09-25 07:52] antony-jr commented on #14
@probonopd This is the latest version which has automatic root elevation  , strictly hard coded with the sudo command , I hope modern linux distro's will have sudo installed.

https://youtu.be/2tfrU_s72zA

Also , Now the error dialog box should have a layperson friendly error message for all errors including network errors.

**Sorry for the shutters in the video , My graphics card is low powered.*

[2018-09-25 18:34] probonopd commented on #14
Thank you very much, highly appreciated @antony-jr

[2019-08-07 11:25] luzpaz opened #15 "Support Markdown in Changelog window"
![image](https://user-images.githubusercontent.com/4140247/62619078-e1fc3500-b8e3-11e9-9ee2-5973335323dc.png)

Note: Also notice that the title of the AppImage is truncated `FreeCAD_0`

Source AppImage: https://github.com/FreeCAD/FreeCAD/releases/tag/0.19_pre
Using AppImageUpdater-ff9ee1f-x86_64.AppImage

![image](https://user-images.githubusercontent.com/4140247/62619291-65b62180-b8e4-11e9-922b-b

[2019-08-07 11:50] antony-jr opened #16 "AppImage not updating properly"
As seen in https://github.com/AppImage/AppImageUpdate/issues/128#issuecomment-519061086

**CC**: @luzpaz

Lets do any further discussions here to keep everything organized.

[2019-08-07 11:51] luzpaz commented on #16
:+1:

[2019-08-07 11:51] antony-jr commented on #16
So did you actually restart the application when you did the update?

[2019-08-07 11:52] luzpaz commented on #16
hmm... I may have not

**EDIT**: will do that now

[2019-08-07 11:53] antony-jr commented on #16
Because I think its a bug in the library such that when a error occurs all slots are just screwed, I have to fix that ASAP.

[2019-08-07 11:55] luzpaz commented on #16
@antony-jr i just reran and it zipped through the download but now it hanging at 100% again (an aside: oddly it shows `Updating 371 MiB of 363 Mib` where before it showed 369 of 363 if you recall. Just thought I'd mention that)

[2019-08-07 11:56] antony-jr commented on #16
But did the update succeed?

EDIT: any error dialog box?

[2019-08-07 11:58] luzpaz commented on #16
no error but not sure how to see if succeeded. the log is similar to previous time.. just stops short of showing anything useful

[2019-08-07 11:59] antony-jr commented on #16
Hmm... Looks like a serious one.

[2019-08-07 11:59] luzpaz commented on #16
![image](https://user-images.githubusercontent.com/4140247/62621185-4bcb0d80-b8e9-11e9-929c-b380eb2d3ff4.png)
Here's what I see (same as before)

[2019-08-07 12:01] luzpaz commented on #16
@antony-jr also note that pressing cancel will not affect anything. ~I need to ctrl+c in the CLI to kill the application~

**EDIT:** Actually that's not true. I just needed to close the dialog window.

[2019-08-07 12:04] antony-jr commented on #16
Do you have qmake? dev-tools to compile Qt applications? If so then you can try compiling the example programs present in the library. https://github.com/antony-jr/AppImageUpdaterBridge and can test running the updater. Because this bug may be of AppImageUpdater and not the library.

[code]

[2019-08-07 12:07] luzpaz commented on #16
[code]
Is that OK ?

[2019-08-07 12:07] antony-jr commented on #16
Yep that's all you need.

I assume you are using KDE?

[2019-08-07 12:08] luzpaz commented on #16
Nope, Xfce

[2019-08-07 12:11] luzpaz commented on #16
Ok, built SimpleUpdateGui and now retesting:
It got to 100% but is hanging again :cry:

[2019-08-07 12:12] luzpaz commented on #16
...still hanging

[2019-08-07 12:13] antony-jr commented on #16
If you have time please upload the AppImage you are trying to update to https://transfer.sh or any other services and share the link.

[2019-08-07 12:16] antony-jr commented on #16
I can really use your mysterious AppImage to stress test the library in future.

[2019-08-07 12:17] luzpaz commented on #16
uploading now to transfer.sh will post link when it's done.
FYI, i got an error back finally:
![image](https://user-images.githubusercontent.com/4140247/62622196-c09f4700-b8eb-11e9-8db2-23a8260c3967.png)

[2019-08-07 12:45] luzpaz commented on #16
https://transfer.sh/rkaMF/FreeCAD_0.19-17499-Linux-Conda_Py3Qt5_glibc2.12-x86_64.AppImage

[2019-08-07 12:46] antony-jr commented on #16
Thank you so much.

[2019-08-07 13:04] antony-jr commented on #16
![Screenshot_20190807_182958](https://user-images.githubusercontent.com/33930174/62624795-7ea0f000-b941-11e9-98a3-ce30c072c772.png)

**Its so weird on my end the update finishes successfully.** I think this issue occurs if you have slow internet connection????? What is your internet connection speed by the way.

Mine is **~2 Mega bytes per second(20 mega bit per second as given by ISP)**

Anyways

[2019-08-07 13:12] antony-jr commented on #16
@luzpaz I got the error,
![Screenshot_20190807_183910](https://user-images.githubusercontent.com/33930174/62625455-dab84400-b942-11e9-91dd-7e40583ff013.png)

[2019-08-07 13:21] antony-jr commented on #16
I will try implementing multiple range requests and try this again. Also I am gonna give some intervals between each request and response to make it easy on the server.

[2019-09-17 16:50] #16 closed, assigned to nobody

[2019-09-17 17:01] antony-jr commented on #16
Hopefully this will be fixed... If not please reopen this. But this time I guess the program won't hang but gives a concise error message.

[2019-09-26 16:35] luzpaz commented on #15
Really dig this updater. I like it way better than the official AppImage one. Any progress on this issue. It's a cosmetic thing that could get in the way of adoption, which would be a shame

[2019-09-27 07:47] antony-jr commented on #15
@luzpaz Thank you.

Yes, I've been thinking about it... The problem is that there is no markdown parser in C++ that can parse github's style of markdown, since it supports both html mixed markdown we have to write our own markdown parser which supports partial html in C++. Its going to be tricky. The one of official examples in the docs implement this using QtWebEngine which I think is a overkill

[2019-10-24 03:51] antony-jr commented on #15
@luzpaz The latest version resolved everything you mentioned. Open a new issue if you feel something is missing.

![Screenshot_20191024_091447](https://user-images.githubusercontent.com/33930174/67451974-88ccb380-f63f-11e9-8400-7aadabae0eb9.png)

[2019-10-24 03:51] #15 closed, assigned to nobody

[2019-10-24 03:57] antony-jr commented on #15
It turns out **Github** had a free API to parse their flavor of Markdown. It was easy as a post request with our Markdown in question. https://developer.github.com/v3/markdown/

[2019-10-25 11:26] luzpaz commented on #15
Looks fantastic! Great job and tip! Do you know if hte appimage folks will integrate this ?

[2019-10-25 11:30] antony-jr commented on #15
@luzpaz Do you mean the release notes? or the entire update window?

[2019-10-30 12:01] luzpaz opened #17 "AppImageUpdater re-downloading same version instead of update"
This may have something to do with the way FreeCAD releases but here goes:

When I run `AppImageUpdater-9b4000e-x86_64.AppImage` on:   https://github.com/FreeCAD/FreeCAD/releases/tag/0.19_pre
specifically the current
[FreeCAD_0.19-18614-Linux-Conda_Py3Qt5_glibc2.12-x86_64.AppImage](https://github.com/FreeCAD/FreeCAD/releases/download/0.19_pre/FreeCAD_0.19-18614-Linux-Conda_Py3Qt5_glibc2.12-x86_64.

[2019-10-30 12:48] antony-jr commented on #17
@luzpaz the update information for the given AppImage is as follows,

[code]

As you can see the update is pointed towards the **0.19_pre** tag and not the **latest** tag. So the updater only checks if the given file is not the same as the file in the given tag. If so it updates the current appimage with respect to the one in **0.19_pre** tag.

**Now, the new file is renamed with revised and a tim

[2019-10-30 15:31] luzpaz commented on #17
@antony-jr Thank you, that was educational. I'm dissapointed that when running the `strings` command, the revision number `FreeCAD_0.19.xxxxx isn't showing up.

In this case, a new AppImage is generated every few days against FreeCAD master HEAD. When a new AppImage is generated it will change the revision number `FreeCAD_0.19.xxxxx-Linux-Conda...` I want AppImageUpdater to pull the latest up-to-d

[2019-10-30 15:44] antony-jr commented on #17
That is the problem. You see, according to the AppImageSpec. We can only sync a specific file based on SHA-1 hashes targeting a specific git release tag only as given by the Application author. The update triggers if the local and remote SHA-1 hash differs. We don't really want to get into the mess of parsing version numbers.

So the final say is that, If the remote file at git release tag **0.19_

[2019-10-30 15:53] luzpaz commented on #17
Ok, thanks for the explanation. Appreciate it. Closing

[2019-10-30 15:53] #17 closed, assigned to nobody

[2019-10-30 15:54] antony-jr commented on #17
@luzpaz You can try asking the Application author to create a new release channel to suffice your way of release cycle.

[2019-10-30 15:55] luzpaz commented on #17
what would I ask for specifically then ?

[2019-10-30 16:03] antony-jr commented on #17
I think they already build the latest AppImage from master HEAD. You see when a file name collision is detected the newly created file will have a timestamp it was updated, that does not mean both files are the same. So try checking the version number inside the Application on the newly created AppImage by the Updater. The fact that the updater was triggered suggest that the SHA-1 hashes differs f

[2019-10-30 16:09] antony-jr commented on #17
I am testing this right now. Will reopen this if something is wrong.

[2019-10-30 16:28] antony-jr commented on #17
This is what you will see if the SHA-1 hash of the local and the remote file exactly matches,
![Screenshot_20191030_215507](https://user-images.githubusercontent.com/33930174/67877747-2eac8080-fb60-11e9-9acd-cd949cef357d.png)

**So you see, I think the updater never re-downloaded the file, it actually downloaded the next version but because of the name collision it renamed it to FreeCAD_0-revised-

[2019-10-30 18:49] luzpaz commented on #17
CC
@sgrogan @triplus

[2019-10-30 22:55] sgrogan commented on #17
I imagine it's due to the way we build the .AppImage as a Cron job. It happens that the same conda version is re-packaged. The name is the same but any timestamps would be different.

Also the 0.19_pre tag is static. It's created at the release and we deploy to the GitHub release, we do not use the source from that tag though.

[2019-10-31 09:29] antony-jr commented on #17
That explains everything. Due to change in timestamps within the package, The SHA-1 would differ and the updater thinks it as a update(Which is as expected). *The zsync protocol itself simply syncs the target file regardless of its version, So even if its old or new, If your local file does not match the SHA-1 hash of the remote, we sync it.*

**So one way to fix this is not to use Cron jobs at al

[2019-10-31 13:17] luzpaz commented on #17
@antony-jr and @sgrogan thanks for troubleshooting the issue. Much appreciated.

[2019-10-31 20:44] sgrogan commented on #17
Yes, but it's not when there are new commits, but rather when the conda package is updated.
@triplus
(If that's not bailing out nothing is)

[2019-11-03 17:21] luzpaz opened #18 "Add a flag to auto-accept dialogs if triggered with --standalone-update-dialog"
It would be nice to have the ability to invoke AppImageUpdater from the CLI and pass the AppImage that you want it to update.
Usecase:
`$ ./AppImageUpdater.AppImage FreeCAD_0.19-18614.AppImage`

Bonus: add a flag that automatically quits AppImageUpdater after it successfully completes its task.

[2019-11-03 17:22] luzpaz commented on #18
Sorry, didn't notice the `--standalone-update-dialog`

[2019-11-03 17:26] antony-jr commented on #18
it was not documented on purpose. It was used privately by the program to update AppImages with root access. But I guess you can use it if you want. It does not have the name fix in it though.(for now)

[2019-11-03 17:28] luzpaz commented on #18
Is it possible to add flags that will bypass the dialogs ?

[2019-11-04 01:20] antony-jr commented on #18
Yes we can. You can actually do that in the settings of the main Application but the standalone dialog box does not respect that so we would definitely need a flag from the command line. I'm busy right now, So this is gonna take some time.

[2019-11-04 01:56] luzpaz commented on #18
No rush. Thanks!

[2019-11-10 03:54] probonopd commented on #18
I was about to ask for the exact same thing. Would be greatly appreciated! :+1:

* One mode where one can launch AppImageUpdater with an AppImage as its argument so that the changelog dialog shows -- I learn here that this actually is already implemented with `--standalone-update-dialog`
* Another mode where one can launch AppImageUpdater with an AppImage as its argument so that the update directl

[2019-11-10 04:07] probonopd opened #19 "Get rid of the application indicators?"
These "i" icons are added by AppImageUpdater to my menu bar and do absolutely nothing on my Xfce system. When I click on them, nothing happens. Right-click gives me Xfce's option to remove them. Personally I find them (and desktop notifications) rather annoying.

![](https://user-images.githubusercontent.com/2480569/68538612-4a3d3580-036f-11ea-8e43-18b58054ac31.png)

What do others think? Maybe I

[2019-11-10 08:47] antony-jr commented on #18
Okay the latest build has the following options,
[code]

Is this okay with y'all?

By default it does the above mentioned. I think you did not close the previous applications properly(*Clicking on the 'X' in the title bar will not close it, you have to click on the exit button in the application*). **In the past the application did not implement the context menu for the tray icon so I think you we

[2019-11-10 09:46] antony-jr commented on #19
The *i* icons are indeed added by the application but the icon was modified by Xfce. **Initially when the application starts it behaves normally as it would do in my DE but after seconds it just turns into the mysterious 'i' icon**. *The application tray icon also works great when using it in root mode*.

![Screenshot_2019-11-10_09-18-46](https://user-images.githubusercontent.com/33930174/68541880

[2019-11-10 09:53] antony-jr commented on #19
I've been thinking about redesigning the updater like a torrent client. You can add Appimage you want to update and it is updated as if the torrent client is downloading the file. You can also pause the update and stuff like that. You can also add options when you start the update like execute certain command when you finish update. *But I think this design is an overkill.*

[2019-11-10 11:23] probonopd commented on #19
Thanks @antony-jr for your explanation. Personally I like "minimalism". As Dieter Rams, a famous German designer who influenced the later Apple design once said,

Source: https://www.interaction-design.org/literature/article/dieter-rams-10-timeless-commandments-for-good-design

For example I think the minimal but good design of https://sparkle-project.org/ makes it so attractive on the Mac.

So my

[2019-11-10 12:23] probonopd commented on #18
Thanks for implementing. Graet work :+1:

Question: Which of these can/cannot be used together?

[code]

From experimenting, the combination `-n -d` implements

Maybe it could be clarified in the help text.

Thank you very much for this.

[2019-11-10 12:27] luzpaz commented on #18
I understood `-d` to be an alternate short form of `  --standalone-update-dialog`. I'm on mobile right now so I can't test.

[2019-11-10 12:28] probonopd commented on #18
Yes it was my mistake, edited above.

[2019-11-10 12:35] probonopd opened #20 "Do not create "revised-on" if we already have the "new" file"
Please do not create "revised-on" if we already have the "new" file, and it is the exact same file (as per its hash) as the "revised-on" one.

Example:

[code]

In this case, I do not need a second copy of what I already have. Only the mtime of `AppImageUpdater-7420c48-x86_64.AppImage` should maybe be updated to reflect that we had worked on this version, although this is debatable.

[2019-11-10 12:38] probonopd commented on #18
Maybe there should also be a way to suppress this dialog:

[2019-11-10 13:03] luzpaz commented on #18
can there be an `-s`-like option for the CLI ? where the debug log output is suppressed ? Should I open a new ticket for that?

[2019-11-10 13:18] probonopd commented on #18
Actually I think the output should only be shown on the command line if requested with `--verbose` or `--debug`... except for errors.

[2019-11-10 15:45] antony-jr commented on #18
@probonopd Then how can you know if a update is completed successfully, **Do you want a command line tool?** If so why can't you use a command line tool like the official one?

You can use all the things together. ```-n``` for no confirm. ```-s``` to show minimum no. of dialogs. ```-d``` to give the actual AppImage to update.

When using ```-s```, No progress dialog will be shown and No checking f

[2019-11-10 17:15] luzpaz commented on #18
a CLI tool would be awesome, yes

[2019-11-10 18:24] probonopd commented on #18
Personally I was not looking for a command line tool, I am trying to integrate the updater with an experimental version of appimaged that I am re-writing from scratch in Go (Golang). It can update AppImages by right-clicking on them, and I want to invoke AppImageUpdater. But now I can do that, so it's fine.

[2019-11-10 23:57] probonopd commented on #19
I can confirm that I can now at least show and quit the application from there. Thanks for fixing.

[2019-11-10 23:57] #19 closed, assigned to nobody

[2019-11-11 21:49] probonopd commented on #14
A special case of this issue still exists: If one tries to update such a file, and there is _no_ newer version on the server, we get:

![error](https://user-images.githubusercontent.com/2480569/68623755-209a2080-04cd-11ea-95db-a57167c1929b.png)

[2019-11-11 21:53] probonopd commented on #18
I am using `-n -d <...>`. If the AppImage cannot be updated due to an error, then unfortunately no error dialog is shown in _some_ cases.

In other cases it does show the dialog:

![](https://user-images.githubusercontent.com/2480569/68624269-60add300-04ce-11ea-8c7b-b021ee87a3f0.png)

Actually it shows more than one dialog for just one AppImage:

![](https://user-images.githubusercontent.com/24805

[2019-11-12 05:04] antony-jr commented on #14
Actually I did not include the authorization for the standalone dialog, will do it ASAP.

[2019-11-17 08:57] probonopd commented on #14
Please reopen. Thanks.

[2019-11-24 12:33] luzpaz opened #21 "CLI capability"
Separating this out of https://github.com/antony-jr/AppImageUpdater/issues/18#issuecomment-552214334

[2019-11-24 12:40] antony-jr commented on #21
Yep working on it. For the time being you could use the official tool.

[2019-11-24 21:06] #14 closed, assigned to nobody

[2019-11-24 21:12] antony-jr commented on #18
Try the latest version, it should be fixed.

No we have new usage options,

[code]

**Now the 'checking for update dialog' will not be shown unless you explicitly mention the ```-c``` option**.

So Use,

```-s``` - To hide the progress dialog.
```-d``` - To give the path to appimage
```-c``` - To Show the *Checking for Update* dialog, **avoid this option if you don't want to show it**.
```-n``` -

[2019-11-24 21:13] antony-jr commented on #14
Show be fixed in the latest version.

[2019-11-24 22:12] probonopd commented on #14
Thank you very much @antony-jr, this makes a big difference for me :+1:

[2019-11-25 18:47] #21 closed, assigned to nobody

[2019-11-25 22:09] probonopd commented on #18
Perfect :+1:

[2019-11-26 03:17] #18 closed, assigned to nobody

[2019-11-26 03:20] antony-jr commented on #21
The required changes are done but the upload script seems to avoid uploading more than two files. So it might take some time before you see the cli version. If released, it should be the same name as the GUI AppImage except all the characters will be lower case (i.e) ```appimageupdater*.AppImage```

[2019-11-26 05:08] antony-jr commented on #21
The CLI tool is release here -> https://github.com/antony-jr/AppImageUpdater/releases/tag/continuous-cli

[2020-03-08 09:39] probonopd opened #22 "AppImageUpdater integration into appimaged"
Not an issue, just to let you know how I have integrated AppImageUpdater into my experimental go-appimage `appimaged` daemon:

https://www.youtube.com/watch?v=L00UjifUEfE

Thanks for this useful software. :+1:

[2020-07-12 12:09] luzpaz opened #23 "Add flag to simply check-for-update and exit"
`appimageupdatetool` has an option to simply check if there is an update. This would be very helpful if we're invoking `appImageupdater` from a script.
[code]

Thanks for all you effort!

[2020-07-12 12:12] luzpaz commented on #20
Related: https://github.com/antony-jr/AppImageUpdater/issues/17

[2020-07-13 11:23] antony-jr commented on #20
I think this can be fixed if we hash the existing file with the same target file name. But that would be expensive if the file is too large. I'm doing a rewrite so I think I can fix this some time along the way.

[2020-07-13 11:27] antony-jr commented on #23
I will look into it.

[2020-07-30 10:00] probonopd commented on #20
Would need to check the checksum of the "old" file to make sure that it is really the same as the "new" file.

[2020-07-30 10:13] antony-jr commented on #20
So the old file must only be touched(changing the mod time) and no update should be done. No rename or anything?

[2020-07-30 10:25] probonopd commented on #20
Yes, I'd say that is the desirable user experience.

[2021-04-01 20:57] #22 closed, assigned to nobody

[2021-04-01 21:07] #23 closed, assigned to nobody

[2021-04-01 21:09] #20 closed, assigned to nobody

[2021-04-02 09:19] probonopd opened #25 "Please make it look more native on the desktop"
Hallo @antony-jr thanks for your great work on AppImageUpdater. :+1:

One thing I am really less than thrilled about

I would not want to put AppImageUpdater into my Qt based desktop applications if it doesn't look like the rest of the application. Let's make AppImageUpdater look and feel "native" to the desktop, not like an "alien" piece coming from Android.

Thanks for your consideration!

[2021-04-02 10:59] antony-jr commented on #25
@probonopd Yes, I've taken this into account but only the main application uses QML and Material Design. The standalone dialogs that you use in go-appimaged are still native.

I just thought that material design is good. Yes it does look a bit Android but I'm improvising. Let's keep this thread open, it will  be interesting to get feedback on material design. If it's not beneficial then **I might

[2021-04-02 11:59] probonopd commented on #25
Hello @antony-jr

I was mainly referring to this screenshot:

![](https://user-images.githubusercontent.com/33930174/109507295-96603c00-7ac4-11eb-8249-534c6c44a157.png)

This looks not like the rest of FreeCAD. This looks like an Android application.

Are you saying that if FreeCAD builds in the Torrent-enabled updater, then it will not look like on the screenshot but will look more Qt native?

[2021-04-02 15:37] antony-jr commented on #25
@probonopd I think you misunderstood, I was talking about this updater in that thread. **Yes, if FreeCAD integrates the updater into FreeCAD, it will use the native version only.(The native gui for torrent update is the same as the normal one you see in the standalone dialogs)** This is because we will be using the library and no source from this repo. Remember both are entirely different projects

[2021-04-02 16:28] probonopd commented on #25
OK, if the updater that will end up in applications looks native then I am happy :100:

[2021-04-02 16:28] #25 closed, assigned to nobody

[2021-05-07 13:09] JuPlutonic opened #26 "n/w seqmentation fault when using libqxcb-glx-integration.so"
Last version 2.0.0 has seqmentation fault, 2.0.0beta1 hasn't got faults except the need to launch it with `export QT_STYLE_OVERRIDE=Fusion` OR `-style=Fusion`.

Linux userpc 5.4.0-72-generic #80~18.04.1-Ubuntu SMP Mon Apr 12 XXX 2021 x86_64 x86_64 x86_64 GNU/Linux
OS:  elementaryOS 5.12.9 Hera(Ubuntu 18.04 w/o any Qt installed)
echo $QT_QPA_PLATFORMTHEME
``— empty, /home/user/.AppImageUpdater.lock

[2021-05-07 13:32] JuPlutonic commented on #26
But, when I run it run like `./AppImageUpdater-v2.0.0-x86_64.AppImage FreeTube_0.12.0_amd64_3d718a51d0088ee3984b5bc5b1933b33.AppImage` (any .appimage file), it opens it like this:
[code]
W/o seqmentation error and w/o updating—processing of the file from the argument (FreeTube_0.12.0_amd64_3d718a51d0088ee3984b5bc5b1933b33.appimage).

`-d  --standalone-update-dialog` works.

[2021-05-07 14:06] antony-jr commented on #26
If the standalone update dialog works then it means that it's a QML error. I will look into it. Thanks for reporting.

[2021-05-07 14:33] antony-jr commented on #26
@JuPlutonic I don't quite understand it.

I just ran v2.0.0 in **elementary OS 5.1.7 Hera** and there is only some error messages but the application seems to work fine. Also regarding passing arguments to the main applicatoin. There is no option for this due to design reasons and that's why we have standalone dialogs. **Can you clearly explain what's your issue? is it segmentation fault?? Some wa

[2021-05-07 14:35] antony-jr commented on #26
The main application you need to drag and drop desktop file, AppImage or directory with collection of AppImages. Or browse if you want but you can't pass a AppImage directly from the command line but you can use -d argument for that.

[2021-05-07 14:46] antony-jr opened #27 "Make system tray icon opt-in because Gnome desktop environment variants don't have one"
Since only KDE and other few Desktop environments supports decent system tray icons. In other desktop environments this causes the application to continue running in the background but cannot open it or close it. So I think it's only logically to make the system tray opt-in.

[2021-05-07 15:14] JuPlutonic commented on #26
I restarted terminal and loose ends.

Only segmentation faul remainingif I dragging zsync-contained file then I alternate it with next file balenaEther (w/o zsync info), and, finally drugging again zsync-contained file.

<details>
<pre>
    INFO:   setAppImage :  "/opt/Applications/appimage-cli-tool-0.1.4-x86_64.AppImage" .
   INFO:   getInfo : AppImage is confirmed to be type 2.
   INFO:   getInf

[2021-05-07 15:24] antony-jr commented on #26
So first you dragged a AppImage with zsync update , then balenaEtcher which does not have zsync info and finally a AppImage with zsync info then it crashed like this.

**The interesting part is**,
[code]

I will look into this ASAP.

[2021-05-07 15:55] JuPlutonic commented on #26
Yes, ok, I dumped crush https://gofile.io/d/atK9xE, it's actually 266Mb bzipped to 15M.

Yep, something happend to cache/tmp during zsync download.

[2021-05-07 19:24] antony-jr commented on #26
@JuPlutonic This seems like a network problem of some sort. Are you using a proxy or some kind of special network or something.
Thanks for the debug information but I really can't debug the dump since AppImages are not debugger friendly(I tried to). The application  output in the terminal gives us more information.

Now I want to know when does this error occur, can you reproduce it everytime or r

[2021-05-07 23:02] JuPlutonic commented on #26
To reproduce i need 2 times drop / select appimages (with zsync).

Selecting different types of connection WAN/Cellular/torified-shell didn't make difference.

**Update** I overcome termination/crush when run `LD_LIBRARY_PATH="/home/user/squashfs-root/usr/lib" ~/squashfs-root/AppRun -style=Fusion` command (--appimage-expract _(-ed)_), also I deleted /home/user/.drirc file.
Now I can work with `/op

[2021-05-07 23:02] #26 closed, assigned to nobody

[2021-05-08 05:48] antony-jr commented on #26
Hmm... Nice to see it's fixed. But you should always execute the AppImage without extracting. LD_LIBRARY_PATH will be automatically set if you execute the AppImage not the AppRun directly.